[submodule "vim/pack/default/start/better_whitespace"]
	path = vim/pack/default/start/better_whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/pack/default/opt/coc"]
	path = vim/pack/default/opt/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim/pack/default/opt/wincap"]
	path = vim/pack/default/opt/wincap
	url = https://github.com/stillwwater/wincap.vim.git
[submodule "vim/pack/default/opt/gruvbox"]
	path = vim/pack/default/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "vim/pack/default/opt/arun"]
	path = vim/pack/default/opt/arun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "vim/pack/default/opt/togglelist"]
	path = vim/pack/default/opt/togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "vim/pack/default/start/fzf"]
	path = vim/pack/default/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/default/start/fzf-dep"]
	path = vim/pack/default/start/fzf-dep
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/default/opt/lightline"]
	path = vim/pack/default/opt/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/default/start/polyglot"]
	path = vim/pack/default/start/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
