[submodule "vim/pack/default/start/lightline"]
	path = vim/pack/default/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/default/opt/lightline_paper"]
	path = vim/pack/default/opt/lightline_paper
	url = https://github.com/Erik-J-D/lightline-paper.git
[submodule "vim/pack/default/start/better_whitespace"]
	path = vim/pack/default/start/better_whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/pack/default/opt/win11_gvim_titlebar_color"]
	path = vim/pack/default/opt/win11_gvim_titlebar_color
	url = https://github.com/stillwwater/wincap.vim.git
[submodule "vim/pack/default/opt/gruvbox"]
	path = vim/pack/default/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/default/opt/im_select"]
	path = vim/pack/default/opt/im_select
	url = https://github.com/brglng/vim-im-select.git
