[submodule "vim/pack/default/opt/paper"]
	path = vim/pack/default/opt/paper
	url = https://github.com/yorickpeterse/vim-paper.git
[submodule "vim/pack/default/start/lightline"]
	path = vim/pack/default/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/default/opt/lightline_paper"]
	path = vim/pack/default/opt/lightline_paper
	url = https://github.com/Erik-J-D/lightline-paper.git
[submodule "vim/pack/default/start/better_whitespace"]
	path = vim/pack/default/start/better_whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/pack/default/opt/win11_gvim_titlebar_color"]
	path = vim/pack/default/opt/win11_gvim_titlebar_color
	url = https://github.com/stillwwater/wincap.vim.git
